<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Add New Blog</title>
</head>
<body>
    
     <%- include("./partials/nav.ejs") %>
     <div class="container mt-3 row row-cols-2">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverimage"  class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="coverimage" aria-describedby="coverimage" name="coverimage">
                
              </div>
            <div class="mb-3">
                <label for="title"  class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
                
              </div>
              <div class="mb-3">
                <label for="body"  class="form-label">Body</label>
                <textarea name="body" class="form-control" id="body" rows="3"></textarea>
                
              </div>
              <div class="mb-3">
                <button class="btn btn-primary" >Submit</button>
                
              </div>
        </form>

     </div>
     
    <%- include("./partials/script.ejs") %>
</body>
</html>